doctype html
html(lang="en")
    include public/header

    body
        include public/appbar
        h1 Pug - node template engine #{title}
        div just be it
        #container.col
            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features.
            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features.
